.first {
    font-size: 65px;
    position: absolute;
    top: 15px;
}

.button {
    font-size: 40px;
    color: red;
    position: relative;
    left: 350px;
}


.random_button {
    color: black;
    background-color: pink;
    border-radius: 30%;
    font-size: 75px;
    position: relative;
    top: -170px;
    left: 230px;
}

.sort {
    position: relative;
    top: -140px;
    left: 700px;
    color: blue;
    border-color: pink;
}

.search {
    position: relative;
    top: -135px;
    left: 50px;
}

.search_button {
    position: relative;
    top: -137px;
    left: 50px;
    color: blue;
    border-color: pink;
    font-size: 8px;
    border-radius: 1px;
}