.top {
    background-color: blue;
    color: white;
    position: absolute;
    top: -5px;
    left: 0px;
    right: 0px;
}

.options {
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    top: -5px;
    left: 600px;
}

.hambutton { 
    font-size: 25px;
    color: red;
    padding: 0;
    border: none;
    background: none;
    position: relative;
    top: 5px;
    left: 800px;
}